<section class="container">
  <div class="position-relative">
    <div class="position-center top-50 start-50 translate-middle">
      <div class="text-center">
        <div class="lead font-weight-bold">
          <p>{{russian}}</p>
        </div>
        <div class="font-weight-normal">
          <p>{{description}}</p>
        </div>
        <div class="list-group" *ngFor="let word of words; let i = index">
          <button type="button"
                  class="list-group-item list-group-item-action"
                  [style.background-color]="invalid && i === selectedIndex ? 'red' : 'white' "
                  (click)="onWord(i)">{{word.english}}</button>
        </div>
      </div>
    </div>
  </div>
</section>
